body {
  /* margin: 0; */
}

:root {
  --darkash: rgba(150, 150, 150, 1);
  --green: rgba(4, 201, 0, 1);
  --purple: rgba(84, 73, 158, 1);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Sen", sans-serif;
}
.title {
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
}
.content {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}
.sub-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.content-small {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0.02em;
}
.sub-content {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.title-bold {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
}
.title-medium {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.02em;
}

.card-location {
  color: var(--darkash);
}

.MuiCardContent-root {
  padding: 0.5rem 3rem 1rem !important;
}
.MuiCardActionArea-root {
  padding: 0.5rem 3rem 1.5rem !important;
}
.MuiPaper-elevation1 {
  filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.1));
  box-shadow: none !important;
  margin: 15px 0;
}
.MuiPaper-rounded {
  border-radius: 10px !important;
}
.MuiToggleButton-root {
  border-radius: 50% !important;
  border: 0 !important;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.1);
  margin: 8px !important;
}

.circular-button {
  padding: 11px !important;
  min-width: 48px !important;
  border-radius: 50% !important;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.1);
  margin: 8px !important;
}

.vertical-align {
  justify-content: end;
  display: grid;
  align-items: center;
}

.toggle-label-circle {
  border-radius: 50%;
  width: 13px;
  height: 13px;
  margin-top: 1px;
  background-color: var(--green);
}
.availability-label {
  color: var(--darkash);
  font-weight: 700;
  margin: 0 8px;
}

.MuiAvatar-root {
  margin: 16px 0;
}

.MuiAccordionSummary-root {
  padding: 0.2rem 3rem 0rem !important;
}
.MuiAccordionDetails-root {
  display: block !important;
  padding: 0rem 3rem 0rem !important;
}
