:root {
  /* Color codes */
  --ash: #f3f3f3;
  --black: #484848;
  --white: #ffffff;
  --darkash: #969696;
  --body-color: #f5faff;
  --purple: #54499e;
  --green: #04c900;
  --red: #d67979;
  --light-purple: #bcb2ff;
  /* Margin dimens */
  --content-margin-start: 15%;
  --content-margin-end: 15%;
  --content-margin-top: 55px;
  /* font sizes */
  --font-size-navbar: 0.938rem;
  --font-size-landing-page-title: 4rem;
  --font-size-landing-page-subtitle: 1.3rem;
  --font-size-section-heading: 1.3rem;
  --font-size-sub-heading: 1.15rem;
  --font-size-textinput-hint: 0.938rem;
  --font-size-title: 1.6rem;
  --font-size-title-large: 3.75rem;
  --font-size-content: 1.15rem;
  --font-size-content-small: 0.8rem;
  --font-size-sub-content: 0.875rem;
  --font-size-button-large: 1.563rem; /* dont use */
  --font-size-button-medium: 1.25rem; /* dont use */
  --font-size-button-small: 0.938rem;
  /* button dimens */
  --button-padding: 10px;
  /* text input dimens */
  --text-input-padding: 8px;
  /* Card shadow */
  --card-shadow: 0px 4px 9px rgba(0, 0, 0, 0.1);
  /* item spacings */
  --margin-item-spacing: 15px;
  --margin-item-spacing-lg: 30px;
  --margin-item-spacing-xlg: 50px;

  --margin-footer-spacing: 0px;
  /* paper radius */
  --radius-paper: 10px;
}

body {
  background-color: var(--body-color);
  font-family: "Sen", sans-serif;
  margin: 0px;
}

h1 {
  color: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}

/* .root-grid-padding {
  margin-left: var(--body-margin-start) !important;
  margin-right: var(--body-margin-end) !important;
} */

.content-grid-padding {
  margin-left: var(--content-margin-start) !important;
  margin-right: var(--content-margin-end) !important;
}

/* [START] Font styles */

.landing-page-title {
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-landing-page-title);
}

.landing-page-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-landing-page-subtitle);
}

.title {
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-title-large);
}

.title-medium {
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-title);
}
.MuiToolbar-root {
  padding: 0 6rem !important;
}

.MuiMenuItem-root {
  justify-content: center !important;
}

.navbar {
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-navbar) !important;
  color: var(--darkash) !important;
  font-family: "Sen", sans-serif !important;
  margin: 0 0.5rem !important;
}

.navbar:hover {
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-navbar) !important;
  color: var(--black) !important;
  font-family: "Sen", sans-serif !important;
}

.section-heading {
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-size-section-heading);
  margin: 0px;
}

.content {
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-content);
}

.content-small {
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-size-content-small);
}

/* [END] Font styles */

/* Icons */

.icon-dark {
  padding: 10px !important;
  color: var(--darkash) !important;
}

/* [START] @overriden styles */
.Mui-disabled {
  background-color: var(--light-purple) !important;
  color: var(--white) !important;
  font-family: "Sen" !important;
}

.MuiLinearProgress-barColorPrimary {
  background-color: var(--purple) !important;
}

.MuiButton-contained:hover {
  box-shadow: var(--card-shadow) !important;
  background-color: #9c8dfd !important;
}

.MuiButton-contained {
  box-shadow: var(--card-shadow) !important;
}

.MuiMenu-paper {
  box-shadow: var(--card-shadow) !important;
}

.MuiToggleButton-label {
  font-family: "Sen" !important;
}

.MuiButton-label {
  font-family: "Sen" !important;
}

.markdown-area-style {
  background-color: var(--ash) !important;
  color: var(--darkash) !important;
  font-family: "Sen" !important;
}

/* [END] @overriden styles */

/* [START] button styles */
.navbar-button {
  background-color: var(--purple) !important;
  font-family: "Sen", sans-serif !important;
  color: var(--white) !important;
  font-size: var(--font-size-button-medium);
  margin: 0 2rem;
  padding: 0.5rem 1rem !important;
}

.navbar-button:hover {
  background-color: var(--light-purple) !important;
}

.text-button {
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-size-content-small);
  color: var(--darkash);
  cursor: pointer;
}

.text-button-lg {
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-size-content);
  color: var(--darkash);
  cursor: pointer;
}

.text-button-lg:hover {
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-size-content);
  color: var(--black);
  cursor: pointer;
}

.text-button:hover {
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-size-content-small);
  color: var(--black);
  cursor: pointer;
}
/* [END] button styles */

.title {
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-title-large);
}

.content {
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-content);
}

.sub-heading {
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-size-sub-heading);
  text-transform: uppercase;
}

.sub-content {
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-sub-content);
}

.title-bold {
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-size-title-large);
}

.title-medium {
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-size-title);
}

.card-location {
  color: var(--darkash);
}

.semi-rounded-card {
  border-top-right-radius: 60px !important;
  border-bottom-left-radius: 60px !important;
  text-align: center;
  padding: 3rem 6rem 5rem;
  box-shadow: var(--card-shadow) !important;
}

.rounded-card {
  border-radius: 10px !important;
  box-shadow: var(--card-shadow) !important;
}

.MuiCardContent-root {
  padding: 0.5rem 3rem 1rem !important;
}

.MuiCardActionArea-root {
  padding: 0.5rem 3rem 1.5rem !important;
}

.MuiPaper-elevation1 {
  filter: var(--card-shadow);
  box-shadow: var(--card-shadow) !important;
  margin: 15px 0;
}

.MuiPaper-elevation2 {
  filter: var(--card-shadow);
  box-shadow: var(--card-shadow) !important;
  margin: 15px 0;
  border-radius: 15px !important;
}

.MuiToggleButton-root {
  border-radius: 50% !important;
  border: 0 !important;
  box-shadow: var(--card-shadow);
  margin: 8px !important;
}

@media only screen and (max-width: 1279px) {
  .MuiToggleButton-root {
    border-radius: 0% !important;
    border: 0 !important;
    box-shadow: none;
    margin: 0 !important;
  }
}

.circular-button {
  padding: 11px !important;
  min-width: 48px !important;
  border-radius: 50% !important;
  box-shadow: var(--card-shadow);
  margin: 8px !important;
}

.vertical-align {
  justify-content: end;
  display: grid;
  align-items: center;
}

.toggle-label-circle-green {
  border-radius: 50%;
  width: 13px;
  height: 13px;
  margin-top: 1px;
  background-color: var(--green);
}

.toggle-label-circle-purple {
  border-radius: 50%;
  width: 13px;
  height: 13px;
  margin-top: 1px;
  background-color: var(--purple);
}

.availability-label {
  color: var(--darkash);
  font-weight: 700;
  margin: 0 8px;
}

.MuiAvatar-root {
  margin: 16px 0;
}

.MuiAccordion-root:before {
  background-color: var(--body-color) !important;
}
.MuiAccordionSummary-root {
  padding: 0.2rem 3rem 0rem !important;
}

.MuiAccordionDetails-root {
  display: block !important;
  padding: 0rem 3rem 1rem !important;
}

.label {
  display: flex;
  width: fit-content;
  padding: 0.2rem 1rem;
  border-radius: 10px !important;
}
.label-font {
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-content-small);
  margin-left: 10px;
  color: var(--black);
}

.filter-button {
  background-color: var(--white) !important;
  color: var(--black) !important;
  box-shadow: var(--card-shadow);
  border-radius: 10px !important;
  font-style: normal;
  font-weight: 700 !important;
  font-size: var(--font-size-content-small) !important;
  font-family: "Sen", sans-serif !important;
  padding: 0.4rem 0.6rem !important;
  margin-left: 0.8rem !important;
}

/* Common for horizontal lines in signin page- starts*/
.divider-custom {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 2%;
}

.divider-custom .divider-custom-line {
  width: 100%;
  height: 1px;
  border-radius: 2rem;
  border: 1px solid #f3f3f3;
  background-color: rgba(0, 0, 0, 0.08);
}

/* Common for horizontal lines in signin page- ends */

.MuiList-root {
  border-radius: 10px !important;
  box-shadow: var(--card-shadow);
}
.MuiListItem-root {
  font-size: var(--font-size-content) !important;
  font-weight: normal !important;
  font-family: "Sen", sans-serif !important;
}
.MuiListItemText-root {
  margin: 0 !important;
}
.MuiListItemText-primary {
  font-size: var(--font-size-content) !important;
  font-weight: normal !important;
  font-family: "Sen", sans-serif !important;
}
.MuiList-padding {
  padding: 0 !important;
}
.MuiList-padding {
  margin: 0 !important;
}

@media only screen and (max-width: 360px) {
  .MuiToolbar-root {
    padding: 0 1.5rem !important;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 320px) and (max-width: 600px) {
  :root {
    /* Margin dimens */
    --content-margin-start: 7%;
    --content-margin-end: 7%;
    /* font sizes */
    --font-size-title: 1.4rem;
  }
  .semi-rounded-card {
    padding: 2.5rem 1.5rem 4.5rem;
  }
  .MuiToolbar-root {
    padding: 0 2.5rem !important;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .semi-rounded-card {
    padding: 3rem 4rem 5rem;
  }
  .MuiToolbar-root {
    padding: 0 4rem !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .semi-rounded-card {
    padding: 3rem 5rem 5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  .semi-rounded-card {
    padding: 3rem 4.5rem 5rem;
  }
}
